extends layout
block script1 
    script(src="domPrescripcion.js", defer)
block script2
    script(src='domPrescripcionPaciente.js',defer)
block script3 
    script(src='domPrescripcionPrestacion.js',defer)  
block script4 
    script(src='domPrescripcionMedicamento.js',defer)                 
block content 
            form#formularioPrescripcion(action="/guardarReceta", method="POST")
                        - let fechaActual = new Date();
                        input(type="hidden", id="fechaActual", value=fechaActual.toISOString()) 
                        p= `${fechaActual.getDate()}/${fechaActual.getMonth() + 1}/${fechaActual.getFullYear()}`
                        
                        div#app.oculto(data-profesional=profecional)
                        #divProfecional 
                            h3 PROFECIONAL
                            label=`${profecional.nombre}  ${profecional.apellido}`
                            input.ocultar(type="number", id="id_profecional", name="id_profecional",value=profecional.idMedico) 
                            br
                            label=` DNI : ${profecional.dni}`
                            br
                            label=`Profecion : ${profecional.profesion}` 
                            label=`Especialida : ${profecional.especialidad}` 
                            br
                            label=`Domicilio : ${profecional.domicilio}`
                            label=`Matricula numero : ${profecional.matriculaProfesional}` 
                            
                        #divPaciente 
                            h3 PACIENTE 
                            label(for="dniP") DNI :
                            input(type="text", id="dniP", name="dniP",placeholder="Ingrese DNI",required)
                            br
                            label(for="nombreP") Nombre :
                            input(type="text", id="nombreP", name="nombreP",required)
                            br
                            label(for="apellidoP") Apellido :
                            input(type="text" ,id="apellidoP", name="apellidoP",required)
                            br
                            label(for="sexoP") Sexo :
                            input(type="text", id="sexoP", name="sexoP",required)
                            select#selectSexo.ocultar(name="selectSexo") 
                            br
                            label(for="obraSP") Obra Social :
                            select(id="obraSP", name="ObraSP")
                                        option(value="j") Obra Social
                            br
                            label(for="plan") Plan :
                            select(id="plan", name="plan")
                                        option(value="h") Plan Obra Social
                            br
                            label(for="fechaNP") Fecha de nacimiento :
                            input(type="date", id="fechaNP", name="fechaNP",required) 
                            #divPacientes
                        #divReceta 
                            #divDiagnostico 
                                h3 DIAGNOSTICO 
                                textarea(type="textarea", id="diagnostico", name="diagnostico")
                            #divMedicamentoPrestacion    
                            #divTipo
                                select(id="tipo", name="tipo")
                                        option(value="j") Prestacion o Medicamento
                                        option(value="prestacion") Prestacion
                                        option(value="medicamento") Medicamento
                            #divMedicamento.ocultar
                                
                                label(for="nombre_medicamento") Nombre del Medicamento :
                                br
                                input.inputTotal(type="text", id="nombre_medicamento", name="nombre_medicamento",placeholder="Escriba para buscar...")
                                ul#listaMedicamentos
                                script. 
                                    const medAprobados=!{JSON.stringify(medAprobados)};
                                br
                                label(for="administracion_medicamento") Administracion :
                                input(type="text", id="administracion_medicamento", name="administracion_medicamento",list="administracion")
                                datalist#administracion 
                                      each administracion in adMedicamentos
                                        option(value=administracion.nombre_administracion_medicamento data-id=administracion.id_administracion_medicamento) 
                                br
                                label(for="marcaMedicamento") Marca del medicamento(opcional)
                                input(type="text",id="marcaMedicamento",name="marcaMedicamento")
                                br
                               
                                button.boton(type="button",onclick="capturarMedicamento(event)") Agregar  
                                    
                            #divPrestacion.ocultar
                                label(for="nombre_prestacion") Prestación:
                                br
                                input.inputTotal(type="text", id="nombre_prestacion", name="nombre_prestacion", placeholder="Escribe para buscar...")
                                ul#listaPrestaciones
                                script.
                                    const presAprobadas = !{JSON.stringify(presAprobadas)};

                                br
                                label(for="lado_prestacion") Lado(opcional) :
                                input(type="text", id="lado_prestacion", name="lado_prestacion",list="lado")
                                datalist#lado
                                    each lado in lados
                                        option(value=lado.nombre_lado data-id=lado.id_lado) 
                                
                                br
                                textarea(id="indicacionPrestacion", name="indicacionPrestacion", rows="4", cols="50", placeholder="La indicacion es obligatoria")
                                br
                                textarea(id="justificacionPrestacion", name="justificacionPrestacion", rows="4", cols="50", placeholder="La justificacion es obligatora")
                                br
                                textarea(id="observacionPrestacion", name="observacionPrestacion", rows="4", cols="50", placeholder="La observacion es opcional")
                                br
                                button.boton(type="button",onclick="agregarPrestacionCompleta(event)") Agregar        
                            #divRecetado  
                        label(for="fechaV") Fecha de Vencimiento :
                        input(type="date", id="fechaV", name="fechaV",required) 
                        br     
                        input.boton(type="submit", value="Enviar")
block boton1 
        button.boton(type="button",onclick='volver()') volver 