extends layout
block script1 
    script(src="domPrescripcion.js", defer)
block script2
    script(src='domPrescripcionPaciente.js',defer)
block script3 
    script(src='domPrescripcionPrestacion.js',defer)  
block script4 
    script(src='domPrescripcionMedicamento.js',defer)
block script5 
    script(src='donPrescripcion2.js',defer)                     
block content 
            form#formularioPrescripcion(action="/guardarReceta", method="POST")
                        - let fechaActual = new Date();
                        input(type="hidden", id="fechaActual", value=fechaActual.toISOString()) 
                        p= `${fechaActual.getDate()}/${fechaActual.getMonth() + 1}/${fechaActual.getFullYear()}`
                        
                        div#app.oculto(data-profesional=profecional)
                        #divPrescripcionNumero
                        #divProfecional 
                            h3 PROFECIONAL
                            label=`${profecional.nombre}  ${profecional.apellido}`
                            input.ocultar(type="number", id="id_profecional", name="id_profecional",value=profecional.idMedico) 
                            br
                            label=` DNI : ${profecional.dni}`
                            br
                            label=`Profecion : ${profecional.profesion}` 
                            label=`Especialida : ${profecional.especialidad}` 
                            br
                            label=`Domicilio : ${profecional.domicilio}`
                            label=`Matricula numero : ${profecional.matriculaProfesional}` 
                            
                        #divPaciente 
                            h3 PACIENTE 
                            label(for="dniP") DNI :
                            input.limpiarP(type="text", id="dniP", name="dniP",placeholder="Ingrese DNI",required)
                            br
                            label(for="nombreP") Nombre :
                            input.limpiarP(type="text", id="nombreP", name="nombreP",required)
                            br
                            label(for="apellidoP") Apellido :
                            input.limpiarP(type="text" ,id="apellidoP", name="apellidoP",required)
                            br
                            label(for="sexoP") Sexo :
                            input.limpiarP(type="text", id="sexoP", name="sexoP",required)
                            select#selectSexo.ocultar(name="selectSexo") 
                            br
                            label(for="obraSP") Obra Social :
                            select(id="obraSP", name="ObraSP")
                                        option(value="j") Obra Social
                            br
                            label(for="plan") Plan :
                            select(id="plan", name="plan")
                                        option(value="h") Plan Obra Social
                            br
                            label(for="fechaNP") Fecha de nacimiento :
                            input.limpiarP(type="date", id="fechaNP", name="fechaNP",required)
                            br
                           
                            #divPacientes
                            button.boton(type="button",onclick="traerPrescripciones(event)") Mostrar Prescripciones Anteriores   
                        #divPrescripcionesA     
                        #divReceta 
                            #divDiagnostico 
                                h3 DIAGNOSTICO 
                                textarea.limpiarP(type="textarea", id="diagnostico", name="diagnostico")
                            #divMedicamentoPrestacion    
                            #divTipo
                                select(id="tipo", name="tipo")
                                        option(value="j") Prestacion o Medicamento
                                        option(value="prestacion") Prestacion
                                        option(value="medicamento") Medicamento
                            #divMedicamento.ocultar
                                #divMedPres.ocultar
                                        label(for="nombre_medicamento") Nombre del Medicamento :
                                        br
                                        input.inputTotal.limpiarM(type="text", id="nombre_medicamento", name="nombre_medicamento",placeholder="Escriba para buscar...")
                                        ul#listaMedicamentos
                                        script. 
                                            const medAprobados=!{JSON.stringify(medAprobados)};
                                        br
                                label(for="administracion_medicamento") Administracion :
                                input.limpiarM(type="text", id="administracion_medicamento", name="administracion_medicamento",list="administracion")
                                datalist#administracion 
                                      each administracion in adMedicamentos
                                        option(value=administracion.nombre_administracion_medicamento data-id=administracion.id_administracion_medicamento) 
                                br
                                label(for="duracion_administracion") Duracion de la Administracion :
                                input.limpiarM(type="text", id="duracion_administracion", name="duracion_administracion",list="duracion")
                                datalist#duracion 
                                      each duracion in duMedicamentos
                                        option(value=duracion.nombre_duracion_administarcion data-id=duracion.id_duracion_administracion) 
                                br

                                label(for="marcaMedicamento") Marca del medicamento(opcional)
                                input.limpiarM(type="text",id="marcaMedicamento",name="marcaMedicamento")
                                br
                               
                                button.boton(type="button",onclick="capturarMedicamento(event)") Agregar Medicamento 
                                    
                            #divPrestacion.ocultar
                                #divMedPres1.ocultar
                                        label(for="nombre_prestacion") Nombre de la Prestación:
                                        br
                                        input.inputTotal.limpiarPr(type="text", id="nombre_prestacion", name="nombre_prestacion", placeholder="Escribe para buscar...")
                                        ul#listaPrestaciones
                                        script.
                                            const presAprobadas = !{JSON.stringify(presAprobadas)};

                                        br
                                label(for="lado_prestacion") Lado(opcional) :
                                input.limpiarPr(type="text", id="lado_prestacion", name="lado_prestacion",list="lado")
                                datalist#lado
                                    each lado in lados
                                        option(value=lado.nombre_lado data-id=lado.id_lado) 
                                
                                br
                                textarea.limpiarPr(id="indicacionPrestacion", name="indicacionPrestacion", rows="2", cols="70", placeholder="La indicacion es obligatoria")
                                br
                                textarea.limpiarPr(id="justificacionPrestacion", name="justificacionPrestacion", rows="2", cols="70", placeholder="La justificacion es obligatora")
                                br
                                textarea.limpiarPr(id="observacionPrestacion", name="observacionPrestacion", rows="2", cols="70", placeholder="La observacion es opcional")
                                br
                                button.boton(type="button",onclick="agregarPrestacionCompleta(event)") Agregar Prestacion       
                            #divRecetado  
                        label(for="fechaV") Fecha de Vencimiento :
                        input.limpiarP(type="date", id="fechaV", name="fechaV",required) 
                        br     
                        input.boton(type="submit", value="Generar Prescripcion Electronica")
            #divFinal.ocultar
                button.boton(type="button",onclick="realizarNuevaPrescripcion(event)") Realizar Nueva Prescripcion   
                button.boton(type="button",onclick="imprimirPrescripcion(event)") Imprimir y Descargar Prescripcion      
block boton1 
        button.boton(type="button",onclick='volver()') volver 